#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

//&mkp_input_listener { input-processors = <&zip_temp_layer 1 250>; };
//&msc_input_listener { input-processors = <&zip_temp_layer 1 10000>; };

/ {
    macros {
        emoji: emoji_macro {
            compatible = "zmk,behavior-macro";
            label = "EMOJI";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp CAPSLOCK>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp CAPSLOCK>;
        };

        exc: exc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N1>,
                <&macro_release>,
                <&kp N1 &kp LEFT_SHIFT>;

            label = "EXC";
        };

        dq: dq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N2>,
                <&macro_release>,
                <&kp N2 &kp LEFT_SHIFT>;

            label = "DQ";
        };

        hush: hush {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N3>,
                <&macro_release>,
                <&kp N3 &kp LEFT_SHIFT>;

            label = "HUSH";
        };

        dollar: dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N4>,
                <&macro_release>,
                <&kp N4 &kp LEFT_SHIFT>;

            label = "DOLLAR";
        };

        percent: percent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N5>,
                <&macro_release>,
                <&kp N5 &kp LEFT_SHIFT>;

            label = "PERCENT";
        };

        anp: anp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N6>,
                <&macro_release>,
                <&kp N6 &kp LEFT_SHIFT>;

            label = "ANP";
        };

        sq: sq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N7>,
                <&macro_release>,
                <&kp N7 &kp LEFT_SHIFT>;

            label = "SQ";
        };

        lk: lk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N8>,
                <&macro_release>,
                <&kp N8 &kp LEFT_SHIFT>;

            label = "lk";
        };

        rk: rk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp N9>,
                <&macro_release>,
                <&kp N9 &kp LEFT_SHIFT>;

            label = "RK";
        };

        us: us {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp INT_RO>,
                <&macro_release>,
                <&kp INT_RO &kp LEFT_SHIFT>;

            label = "US";
        };

        pl: pl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RSHFT>,
                <&macro_wait_time 50>,
                <&kp INT3>,
                <&macro_release>,
                <&kp INT3 &kp RSHFT>;

            label = "PL";
        };

        eql: eql {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp MINUS>,
                <&macro_release>,
                <&kp MINUS &kp LEFT_SHIFT>;

            label = "EQL";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp EQUAL>,
                <&macro_release>,
                <&kp EQUAL &kp LEFT_SHIFT>;

            label = "TILDE";
        };

        plus: plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp SEMI>,
                <&macro_release>,
                <&kp SEMI &kp LEFT_SHIFT>;

            label = "PLUS";
        };

        aster: aster {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp SINGLE_QUOTE>,
                <&macro_release>,
                <&kp SINGLE_QUOTE &kp LEFT_SHIFT>;

            label = "ASTER";
        };

        stab: stab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp TAB>,
                <&macro_release>,
                <&kp TAB &kp LEFT_SHIFT>;

            label = "STAB";
        };

        endapp: endapp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 50>,
                <&kp F4>,
                <&macro_release>,
                <&kp F4 &kp LEFT_ALT>;

            label = "ENDAPP";
        };

        calte: calte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N3 &kp N7 &kp N0 &kp N8 &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp N1 &kp N2 &kp N3 &kp ENTER>;
            label = "CALTE";
        };

        evalue: evalue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N3 &kp N7 &kp N0 &kp N8 &kp TAB &kp N0 &kp N8 &kp N6 &kp N2 &kp ENTER>;
            label = "EVALUE";
        };

        ctpgup: ctpgup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 20>,
                <&kp PG_UP>,
                <&macro_release>,
                <&kp PG_UP &kp LCTRL>;

            label = "CTPGUP";
        };

        ctpgdn: ctpgdn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 20>,
                <&kp PG_DN>,
                <&macro_release>,
                <&kp PG_DN &kp LCTRL>;

            label = "CTPGDN";
        };

        cthome: cthome {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp HOME>,
                <&macro_release>,
                <&kp HOME &kp LCTRL>;

            label = "CTHOME";
        };

        ctend: ctend {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp END>,
                <&macro_release>,
                <&kp END &kp LCTRL>;

            label = "CTEND";
        };

        ctdel: ctdel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp DELETE>,
                <&macro_release>,
                <&kp DELETE &kp LCTRL>;

            label = "CTDEL";
        };

        ctrlW: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp W>,
                <&macro_release>,
                <&kp W &kp LCTRL>;

            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp V>,
                <&macro_release>,
                <&kp V &kp LCTRL>;

            label = "PASTE";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp Z>,
                <&macro_release>,
                <&kp Z &kp LCTRL>;

            label = "CUT";
        };

        VBE: VBE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 50>,
                <&kp F11>,
                <&macro_release>,
                <&kp F11 &kp LEFT_ALT>;

            label = "VBE";
        };

        prompt: prompt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_wait_time 50>,
                <&kp R>,
                <&macro_release>,
                <&kp R &kp LEFT_WIN>;

            label = "PROMPT";
        };

        ca: ca {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp A>,
                <&macro_release>,
                <&kp A &kp LCTRL>;

            label = "CA";
        };

        ctrl_t: ctrl_t {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp T>,
                <&macro_release>,
                <&kp T &kp LCTRL>;

            label = "CTRL_T";
        };

        ctrl_w: ctrl_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp W>,
                <&macro_release>,
                <&kp W &kp LCTRL>;

            label = "CTRL_W";
        };

        altleft: altleft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 20>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_ARROW &kp LALT>;

            label = "ALTLEFT";
        };

        altright: altright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_wait_time 20>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp RIGHT &kp LEFT_ALT>;

            label = "ALTRIGHT";
        };

        altup: altup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 20>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp UP_ARROW &kp LALT>;

            label = "ALTUP";
        };

        altdown: altdown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 20>,
                <&kp DOWN>,
                <&macro_release>,
                <&kp DOWN_ARROW &kp LEFT_ALT>;

            label = "ALTDOWN";
        };

        L_yamakakko: lyk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp COMMA>,
                <&macro_release>,
                <&kp COMMA &kp LEFT_SHIFT>;

            label = "LYK";
        };

        R_yamakakko: Ryamak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp PERIOD>,
                <&macro_release>,
                <&kp PERIOD &kp LEFT_SHIFT>;

            label = "RYAMAK";
        };

        altesc: altesc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_wait_time 20>,
                <&kp ESCAPE>,
                <&macro_release>,
                <&kp ESCAPE &kp RIGHT_ALT>;

            label = "ALTESC";
        };

        saltesc: saltesc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT &kp RSHIFT>,
                <&macro_wait_time 20>,
                <&kp ESCAPE>,
                <&macro_release>,
                <&kp ESCAPE &kp RIGHT_ALT &kp RSHIFT>;

            label = "SALTESC";
        };

        ctrlplus: ctrlplus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_wait_time 20>,
                <&kp SEMI>,
                <&macro_release>,
                <&kp SEMI &kp LCTRL &kp LSHFT>;

            label = "CTRLPLUS";
        };

        ctrlminus: ctrlminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp MINUS>,
                <&macro_release>,
                <&kp MINUS &kp LCTRL>;

            label = "CTRLMINUS";
        };

        ctup: ctup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp UP_ARROW &kp LCTRL>;

            label = "CTUP";
        };

        ctdn: ctdn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp DOWN_ARROW>,
                <&macro_release>,
                <&kp DOWN_ARROW &kp LCTRL>;

            label = "CTDN";
        };

        ctlt: ctlt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_ARROW &kp LCTRL>;

            label = "CTLT";
        };

        ctrt: ctrt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp RIGHT &kp LCTRL>;

            label = "CTRT";
        };

        l_tyk: l_tyk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp RIGHT_BRACKET>,
                <&macro_release>,
                <&kp RIGHT_BRACKET &kp LEFT_SHIFT>;

            label = "L_TYK";
        };

        r_tyk: r_tyk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp NUHS>,
                <&macro_release>,
                <&kp NUHS &kp LEFT_SHIFT>;

            label = "R_TYK";
        };

        ctbs: ctbs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_wait_time 20>,
                <&kp BACKSPACE>,
                <&macro_release>,
                <&kp BACKSPACE &kp LCTRL>;

            label = "CTBS";
        };

        wintab: wintab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LWIN>,
                <&macro_wait_time 20>,
                <&kp TAB>,
                <&macro_release>,
                <&kp TAB &kp LWIN>;

            label = "WINTAB";
        };

        altprsc: altprsc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_wait_time 20>,
                <&kp PRINTSCREEN>,
                <&macro_release>,
                <&kp PRINTSCREEN &kp LEFT_ALT>;

            label = "ALTPRSC";
        };

        winshiftS: winshiftS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_wait_time 20>,
                <&kp LSHFT>,
                <&macro_wait_time 20>,
                <&kp S>,
                <&macro_release>,
                <&kp S &kp LEFT_WIN &kp LSHFT>;

            label = "WINSHIFTS";
        };

        shiftHOME: shiftHOME {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp HOME>,
                <&macro_release>,
                <&kp HOME &kp LEFT_SHIFT>;

            label = "SHIFTHOME";
        };

        shiftEND: shiftEND {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_wait_time 20>,
                <&kp END>,
                <&macro_release>,
                <&kp END &kp LEFT_SHIFT>;

            label = "SHIFTEND";
        };
    };

    behaviors {
        encoder_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        encoder_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        L_HRM: L_HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "L_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        R_HRM: R_HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "R_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        L_THUMB: L_THUMB {
            compatible = "zmk,behavior-hold-tap";
            label = "L_THUMB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 10 11 12 13 14 0 1 2 3 4 20 21 22 23 24 30 31 32 33 34 35 25 26 27 28 29 37 38 39 40 41 36>;
            hold-trigger-on-release;
        };

        R_THUMB: R_THUMB {
            compatible = "zmk,behavior-hold-tap";
            label = "R_THUMB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        S_key: S_key {
            compatible = "zmk,behavior-sticky-key";
            label = "S_KEY";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <500>;
        };

        C_W: C_W {
            compatible = "zmk,behavior-caps-word";
            label = "C_W";
            #binding-cells = <0>;
            continue-list = <INT_YEN INT_RO A B C D E F G H I J K L M N O P Q R S T U V W X Y Z N1 N2 N3 N4 N5 N6 N7 N8 N9 N0 MINUS BACKSPACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        coron: coron {
            compatible = "zmk,behavior-mod-morph";
            label = "CORON";
            bindings = <&kp PERIOD>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
        };

        semicoron: semicoron {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMICORON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
        };

        hussexc: hussexc {
            compatible = "zmk,behavior-mod-morph";
            label = "HUSSEXC";
            bindings = <&hush>, <&kp NUMBER_1>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT)>;
        };

        MML_KAKKO: MML_KAKKO {
            compatible = "zmk,behavior-mod-morph";
            label = "MML_KAKKO";
            bindings = <&lk>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT)>;
        };

        MMR_KAKKO: MMR_KAKKO {
            compatible = "zmk,behavior-mod-morph";
            label = "MMR_KAKKO";
            bindings = <&rk>, <&kp PERIOD>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT)>;
        };

        YOKOBOU: YOKOBOU {
            compatible = "zmk,behavior-mod-morph";
            label = "YOKOBOU";
            bindings = <&kp MINUS>, <&kp MINUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_LCTL|MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT)>;
        };

        RMTwin: RMTwin {
            compatible = "zmk,behavior-hold-tap";
            label = "RMTWIN";
            bindings = <&kp>, <&YOKOBOU>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        L_LT: L_LT {
            compatible = "zmk,behavior-hold-tap";
            label = "L_LT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 37 38 39 40 41 36>;
            hold-trigger-on-release;
        };

        R_LT: R_LT {
            compatible = "zmk,behavior-hold-tap";
            label = "R_LT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        athutt: athutt {
            compatible = "zmk,behavior-mod-morph";
            label = "ATHUTT";
            bindings = <&kp LBKT>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
        };

        plper: plper {
            compatible = "zmk,behavior-mod-morph";
            label = "PLPER";
            bindings = <&pl>, <&kp N5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        sl_sp: sl_sp {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_SP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };

        R_Th_space: R_Th_space {
            compatible = "zmk,behavior-hold-tap";
            label = "R_TH_SPACE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <170>;
            flavor = "hold-preferred";
            hold-trigger-key-positions = <5 6 7 9 8 15 16 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 37 38 39 40 41 36>;
            hold-trigger-on-release;
        };

        SL_SP2: SL_SP2 {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_SP2";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <185>;
            flavor = "balanced";
        };

        L_carte: L_carte {
            compatible = "zmk,behavior-hold-tap";
            label = "L_CARTE";
            bindings = <&kp>, <&calte>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        R_evalue: R_evalue {
            compatible = "zmk,behavior-hold-tap";
            label = "R_EVALUE";
            bindings = <&kp>, <&evalue>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        L_THUMB3: L_THUMB3 {
            compatible = "zmk,behavior-hold-tap";
            label = "L_THUMB3";
            bindings = <&mo>, <&altesc>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        MLSP: MLSP {
            compatible = "zmk,behavior-hold-tap";
            label = "MLSP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 37 36 18 26>;
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;
        };

        SLSP: SLSP {
            compatible = "zmk,behavior-hold-tap";
            label = "SLSP";
            bindings = <&mo>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <1>;
        };

        USPL_L5: USPL_L5 {
            compatible = "zmk,behavior-hold-tap";
            label = "USPL_L5";
            bindings = <&mo>, <&uspl>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 17 15 18>;
        };

        MINUS_L5: MINUS_L5 {
            compatible = "zmk,behavior-hold-tap";
            label = "MINUS_L5";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <15 16 17 18 7 36 37>;
        };

        SL_SP3: SL_SP3 {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_SP3";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
        };

        uspl: uspl {
            compatible = "zmk,behavior-mod-morph";
            label = "USPL";
            bindings = <&us>, <&pl>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mius: mius {
            compatible = "zmk,behavior-tap-dance";
            label = "MIUS";
            #binding-cells = <0>;
            bindings = <&SL_SP2 6 MINUS>, <&us>;

            tapping-term-ms = <180>;
        };

        periCOR: periCOR {
            compatible = "zmk,behavior-tap-dance";
            label = "PERICOR";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp APOSTROPHE>;

            tapping-term-ms = <180>;
        };

        comSEMI: comSEMI {
            compatible = "zmk,behavior-tap-dance";
            label = "COMSEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            tapping-term-ms = <180>;
        };

        altcontrol: altcontrol {
            compatible = "zmk,behavior-tap-dance";
            label = "ALTCONTROL";
            #binding-cells = <0>;
            bindings = <&L_THUMB 3 LEFT_ALT>, <&kp LCTRL>;
        };

        HIUS: HIUS {
            compatible = "zmk,behavior-tap-dance";
            label = "HIUS";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&us>;
        };

        SLPL: SLPL {
            compatible = "zmk,behavior-tap-dance";
            label = "SLPL";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&pl>;
        };

        SP_CTUP: SP_CTUP {
            compatible = "zmk,behavior-hold-tap";
            label = "SP_CTUP";
            bindings = <&kp>, <&ctup>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            hold-trigger-key-positions = <7 17 16 18>;
            hold-trigger-on-release;
        };

        SP_CTPGUP: SP_CTPGUP {
            compatible = "zmk,behavior-hold-tap";
            label = "SP_CTPGUP";
            bindings = <&kp>, <&ctpgup>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            hold-trigger-key-positions = <7 16 17 18>;
            hold-trigger-on-release;
        };

        SP_CTPGDN: SP_CTPGDN {
            compatible = "zmk,behavior-hold-tap";
            label = "SP_CTPGDN";
            bindings = <&kp>, <&ctpgdn>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            hold-trigger-key-positions = <7 17 16 17 18>;
            hold-trigger-on-release;
        };

        sqCOR: sqCOR {
            compatible = "zmk,behavior-tap-dance";
            label = "SQCOR";
            #binding-cells = <0>;
            bindings = <&sq>, <&kp APOSTROPHE>;
        };

        dqSEMI: dqSEMI {
            compatible = "zmk,behavior-tap-dance";
            label = "DQSEMI";
            #binding-cells = <0>;
            bindings = <&dq>, <&kp SEMI>;
        };

        l_HI_US: l_HI_US {
            compatible = "zmk,behavior-tap-dance";
            label = "L_HI_US";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp MINUS>, <&us>;

            tapping-term-ms = <170>;
        };

        SQDQ: SQDQ {
            compatible = "zmk,behavior-tap-dance";
            label = "SQDQ";
            #binding-cells = <0>;
            bindings = <&dq>, <&sq>;
        };
    };

    combos {
        compatible = "zmk,combos";

        af4 {
            bindings = <&endapp>;
            key-positions = <16 37>;
        };

        CW {
            bindings = <&C_W>;
            key-positions = <6 7>;
        };

        SK {
            bindings = <&sk LSHFT>;
            key-positions = <16 17>;
        };

        IME {
            bindings = <&kp GRAVE>;
            key-positions = <13 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&L_HRM LWIN Q  &L_HRM LALT W    &L_HRM LCTRL E  &L_HRM LSHIFT R  &kp T                                           &kp Y                &R_HRM RSHFT U  &R_HRM RCTRL I  &R_HRM RIGHT_ALT O  &R_HRM RIGHT_WIN P
&kp A          &kp S            &kp D           &kp F            &kp G                                           &kp H                &kp J           &kp K           &kp L               &HIUS
&kp Z          &kp X            &kp C           &kp V            &kp B                                           &kp N                &kp M           &comSEMI        &periCOR            &SLPL
&kp TAB        &kp PRINTSCREEN  &mkp MB2        &mkp MB1         &L_THUMB 5 LEFT_ALT  &L_THUMB 6 LCTRL    &SQDQ  &R_Th_space 2 SPACE  &none           &none           &none               &kp ENTER
            >;

            sensor-bindings = <&encoder_msc SCRL_DOWN SCRL_UP>;
        };

        AML {
            display-name = "Mouse";
            bindings = <
&kp LWIN  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &none                     &none     &none     &none  &none          &none
&none     &none         &none      &none      &none                     &kp HOME  &mkp MB1  &none  &SL_SP3 2 MB2  &kp END
&none     &none         &none      &none      &none                     &none     &none     &none  &none          &none
&none     &none         &none      &none      &none  &none    &mkp MB5  &mkp MB4  &none     &none  &none          &none
            >;
        };

        BASIC {
            display-name = "Arrow";
            bindings = <
&kp LWIN    &SP_CTPGUP LALT 0  &SP_CTUP LCTRL 0  &SP_CTPGDN LSHFT 0  &none                      &altesc   &kp BACKSPACE   &kp UP_ARROW    &kp ESCAPE  &saltesc
&shiftHOME  &ctlt              &ctdn             &ctrt               &shiftEND                  &wintab   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT   &pl
&none       &cthome            &calte            &ctend              &none                      &kp RWIN  &ctpgup         &kp DELETE      &ctpgdn     &kp SLASH
&none       &none              &evalue           &kp HOME            &kp END    &none    &none  &none     &none           &none           &none       &none
            >;

            sensor-bindings = <&encoder_kp C_VOL_UP C_VOL_DN>;
        };

        NUM_FUN_1 {
            display-name = "NUM";
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                    &kp F6         &kp F7     &kp F8     &kp F9  &kp F10
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                    &kp NUMBER_6   &kp N7     &kp N8     &kp N9  &kp N0
&kp DOT       &kp EQUAL     &none         &none         &dollar                   &plus          &kp MINUS  &kp SLASH  &aster  &kp ENTER
&none         &none         &none         &none         &none    &VBE    &kp F12  &kp BACKSPACE  &none      &none      &none   &kp SLASH
            >;
        };

        layer_5 {
            display-name = "Snipe";
            bindings = <
&none  &none  &none  &none  &none                     &ctup    &none     &none     &none  &none
&none  &none  &none  &none  &none                     &none    &mkp MB4  &mkp MB5  &none  &none
&none  &none  &none  &none  &none                     &none    &altesc   &none     &none  &none
&none  &none  &none  &none  &none  &none    &kp HOME  &kp END  &none     &none     &none  &none
            >;
        };

        SC_SYMBOL {
            display-name = "FUNCTION";
            bindings = <
&none               &none  &none     &none     &none                            &kp INTERNATIONAL_3  &kp LBKT  &kp RBKT      &kp NUHS      &kp EQUAL
&kp K_CONTEXT_MENU  &none  &mkp MB4  &mkp MB5  &kp PRINTSCREEN                  &dollar              &anp      &lk           &rk           &eql
&none               &none  &none     &none     &none                            &percent             &hush     &L_yamakakko  &R_yamakakko  &exc
&none               &none  &none     &none     &none            &none    &none  &none                &none     &none         &none         &none
            >;
        };

        NUM_FUN_2 {
            bindings = <
&none    &kp F1  &kp F2  &kp F3  &none                    &none    &kp N1  &kp N2  &kp N3  &none
&kp F10  &kp F4  &kp F5  &kp F6  &kp F11                  &kp DOT  &kp N4  &kp N5  &kp N6  &kp N0
&kp F12  &kp F7  &kp F8  &kp F9  &none                    &none    &kp N7  &kp N8  &kp N9  &none
&none    &none   &none   &none   &none    &none    &none  &none    &none   &none   &none   &none
            >;
        };
    };
};
